.service-button {
  display: inline-block;
  position: relative;
}

.service-button > input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

.service-button > label {
  background-color: #ffffff;
  color: #373e5f;
  border: 1px solid #373e5f;
  border-radius: 4px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.service-button > label:hover {
  border-color: #ff58e0;
  color: #ff58e0;
}

.service-button > input[type="radio"]:checked + label {
  border-color: #ff58e0;
  background-color: #ff58e0;
  color: #ffffff;
}

.form-input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  text-align: left;
  color: #373e5f;
  margin: 4px 2px;
  padding: 10px 12px;
}

.form-input:focus {
  outline: none;
}
